# Ignore folders
temp_frames/
ground-truth-videos/
keypoints/

# Ignore big files
*.mp4
*.mov
*.task
*.gif
*.avi

# Ignore Python venv
venv/
.venv/
node_modules
public/
package-lock.json
package.json
ENV/
env/
*.pyc
__pycache__/
.DS_Store
